<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585285094741-73uiifseffkphhpticqm1c265ms08qm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585285094741-73uiifseffkphhpticqm1c265ms08qm0</string>
	<key>API_KEY</key>
	<string>AIzaSyDIqGXbLxyjPT5ZXHwrn1vY5ef-yGh6HJY</string>
	<key>GCM_SENDER_ID</key>
	<string>585285094741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.winsonWings</string>
	<key>PROJECT_ID</key>
	<string>wilson-cb28c</string>
	<key>STORAGE_BUCKET</key>
	<string>wilson-cb28c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585285094741:ios:6a12193d40cf9802ce73dc</string>
</dict>
</plist>